{% load static %}
<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Home Prof - {{prof.nome}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% comment %} <!--<script src="https://code.jquery.com/jquery-3.7.1.min.js" 
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>--> {% endcomment %}
    </head>
    <body>
        <main>
        <div class="container">
            {% if status == '0' %}
                <div class="alert alert-success" role="alert">
                    Livro cadastrado com sucesso.
                </div>
            {% endif %}
            {% if status == '1' %}
                <div class="alert alert-danger" role="alert">
                    Livro não cadastrado. Tente novamente.
                </div>
            {% endif %}
            {% if status == '2' %}
                <div class="alert alert-success" role="alert">
                    Livro emprestado com sucesso.
                </div>
            {% endif %}
            {% if status == '3' %}
                <div class="alert alert-danger" role="alert">
                    Livro não emprestado. Tente novamente.
                </div>
            {% endif %}
        </div>
        
        <nav class="navbar navbar-dark bg-dark">
            <a href="{% url 'sala_de_leitura_admin' %}" class="btn btn-primary">Ir para Sala de Leitura</a>
            <h5 class="navbar-brand" style="margin-right:125px;">Olá, {{prof.nome}}</h5>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal2">
                Sair
            </button>
        </nav>

        <div class="d-flex justify-content-around mt-2">
            <a href="https://docs.google.com/document/d/1v4ZQyldB46QFBaTTzleg8ZRPETRlNvHK/edit?usp=sharing&ouid=104290703672750313003&rtpof=true&sd=true" class="btn text-light bg-dark" target="_blank" rel="noreferrer noopener">Ir para Tabela da 1ª Série</a>
            <a href="https://docs.google.com/document/d/1-LwCZ-vZRvTJqtm8krDmYPF4K9k2M5jb/edit?usp=sharing&ouid=104290703672750313003&rtpof=true&sd=true" class="btn text-light bg-dark" target="_blank" rel="noreferrer noopener">Ir para Tabela da 2ª Série</a>
            <a href="https://docs.google.com/document/d/1LeFLCQw4lrRvJdtu8tKwpC8Lsdt-ARes/edit?usp=sharing&ouid=104290703672750313003&rtpof=true&sd=true" class="btn text-light bg-dark" target="_blank" rel="noreferrer noopener">Ir para Tabela da 3ª Série</a>
        </div>

        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel2">Deseja mesmo sair?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'sair_admin' %}" class="btn btn-secondary">Sair</a>
                </div>
              </div>
            </div>
        </div>

        <div class="row d-flex justify-content-around align-items-center mx-auto" style="height:350px;">
            <button id="botaodadiv" type="button" class="btn btn-info text-center p-5 ml-5" style="font-size:1.5rem" data-toggle="modal" data-target="#exampleModal">
                Cadastrar Livro
            </button>
            <a type="button" href="{% url 'alunos_cadastrados' %}" class="btn btn-info text-center p-5 ml-5" style="font-size:1.5rem">
                Ver Alunos Cadastrados
            </a>
        </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Cadastro de Livro</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'cadastrar_livro' %}" method="POST">{% csrf_token %}
                            <table>
                                {{form.as_table}}
                            </table>
                            <hr>
                            <input type="submit" class="btn btn-success" value="Confirmar Cadastro">
                        </form>
                    </div>
                  </div>
                </div>
            </div>
            
        </main>
        <div style="height:18.6vh;"></div>
        <footer class="bg-dark d-flex justify-content-center align-items-center" style="height:65px;color:white">™ ® Copyright© &#169</footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>