{% load static %}
<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Emprestar Livro - {{livro.título}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/script.js' %}"></script>
    </head>
    <body>
        <main>
            <nav class="navbar navbar-dark bg-dark">
                <a href="{% url 'sala_de_leitura_admin' %}" class="btn btn-primary">Ir para Sala de Leitura</a>
                <h5 class="navbar-brand mr-5 pr-5">Olá, {{prof.nome}}</h5>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal2">
                    Sair
                </button>
            </nav>
            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel2">Deseja mesmo sair?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'sair_admin' %}" class="btn btn-secondary">Sair</a>
                    </div>
                  </div>
                </div>
            </div>

        <div class="row justify-content-center mx-auto">
            <form action="{% url 'emprestar_livro' %}" method="POST">{% csrf_token %}
            <div class="container">
                <div class="col-md my-2">
                    <div class="card mx-auto" style="width: 25rem;">
                        <div class="card-body text-center">
                            <ol id="list" style="list-style-type:none; padding:5px;">
                                <input type="hidden" value="{{livro.id}}" name="livro_id">
                                <li class="py-1"><img class="py-1" width="100%" src="{{livro.img.url}}"></li>
                                <li><h5 class="card-title">ID: {{livro.id}}</h5></li>
                                <li><h5 class="card-title">Tombo: {{livro.tombo}}</h5></li>
                                <li><h5 class="card-title">{{livro.título}}</h5></li>
                                <li><h5 class="card-subtitle mb-2 text-muted py-1">{{livro.autor}}</h5></li>
                                <li><h6 class="card-subtitle mb-2 text-muted py-1">{{livro.local_Editora_Ano}}</h6></li>
                                {% if livro.quantidade <= 0 %}
                                <li><h6 class="card-subtitle text-muted py-1">Livro não disponível. Aguarde estar disponível novamente.</h6></li>
                                {% else %}
                                <li><h6 class="card-subtitle text-muted py-1">Quantidade disponível: {{livro.quantidade}}</h6></li>
                                {% endif %}
                                <label class="pt-1">Data de Empréstimo:</label>
                                {% if livro.data_de_empréstimo == None %}
                                <input type="date" class="form-control mb-1" name="data_emprestimo">
                                {% else %}
                                <label name="data_emprestimo">{{livro.data_de_empréstimo}}</label>
                                {% endif %}
                                <label class="pt-1">Data de Devolução:</label>
                                {% if livro.data_de_devolução == None %}
                                <input type="date" class="form-control mb-1" name="data_devolucao">
                                {% else %}
                                <label name="data_devolucao">{{livro.data_de_devolução}}</label>
                                {% endif %}
                                {% if livro.aluno == None %}
                                <label class="pt-1">Aluno</label>
                                <select class="form-control mb-1" name="aluno">
                                {% for i in alunos %}
                                <option value="{{livro.aluno}}" name="aluno">{{i.nome}} | Turma: {{i.turma}} | RA: {{i.ra}}</option>
                                {% endfor %}
                                </select>
                                {% endif %}
                                {% if livro.aluno != None %}
                                <h5 class="card-title mt-4">Livro Emprestado para:</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{livro.aluno}}</h6>
                                {% else %}
                                <h5 class="card-title mt-4">Livro Não Emprestado</h5>
                                {% endif %}
                                {% if livro.aluno %}
                                {% if data_atual > livro.data_de_devolução %}
                                <li><h6 class="card-subtitle my-3 text-muted">Livro com devolução pendente</h6></li>
                                {% elif livro.data_de_devolução == data_atual %}
                                <li><h6 class="card-subtitle my-3 text-muted">A data de entrega do livro é hoje</h6></li>
                                {% endif %}
                                {% endif %}
                            {% if livro.quantidade == 0 %}
                            {% else %}
                            <button type="submit" class="btn btn-info mt-3">Emprestar Livro</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            </form>
            <form action="{% url 'devolver_livro_admin' livro.id %}" method="POST">{% csrf_token %}
                <div class="container">
                    <div class="col-md my-2">
                        <div class="card mx-auto" style="width: 25rem;">
                            <div class="card-body text-center">
                                <ol id="list" style="list-style-type:none; padding:5px;">
                                    <li class="py-1"><img class="py-1" width="100%" src="{{livro.img.url}}"></li>
                                    <li><h5 class="card-title">ID: {{livro.id}}</h5></li>
                                    <li><h5 class="card-title">Tombo: {{livro.tombo}}</h5></li>
                                    <li><h5 class="card-title">{{livro.título}}</h5></li>
                                    <li><h5 class="card-subtitle mb-2 text-muted py-1">{{livro.autor}}</h5></li>
                                    <li><h6 class="card-subtitle mb-2 text-muted py-1">{{livro.local_Editora_Ano}}</h6></li>
                                    {% if livro.quantidade <= 0 %}
                                    <li><h6 class="card-subtitle text-muted py-1">Livro não disponível. Aguarde estar disponível novamente.</h6></li>
                                    {% else %}
                                    <li><h6 class="card-subtitle text-muted py-1">Quantidade disponível: {{livro.quantidade}}</h6></li>
                                    {% endif %}
                                    {% if livro.aluno != None %}
                                    <h5 class="card-title mt-4">Livro Emprestado para:</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{livro.aluno}}</h6>
                                    {% else %}
                                    <h5 class="card-title mt-4">Livro Não Emprestado</h5>
                                    {% endif %}
                                    {% if livro.aluno %}
                                    {% if data_atual > livro.data_de_devolução %}
                                    <li><h6 class="card-subtitle my-3 text-muted">Livro com devolução pendente</h6></li>
                                    {% elif livro.data_de_devolução == data_atual %}
                                    <li><h6 class="card-subtitle my-3 text-muted">A data de entrega do livro é hoje</h6></li>
                                    {% endif %}
                                    {% endif %}
                                </ol>
                                <button type="submit" class="btn btn-info">Devolver Livro</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        </main>
        
<br>
        <div style="height:5vh;"></div>
        <footer class="bg-dark d-flex justify-content-center align-items-center" style="height:65px;color:white">™ ® Copyright© &#169</footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>